@font-face {
  font-family: 'Dancing';
  src: url('DancingScriptOT.otf');
}

body{
  background: #02010a;
  font-family: "Dancing";
  width: 900px;
}

section{
  width: 100%;
  height: 25%;
  color: white;
  text-align: left;
  border: 2px solid red;
  display: inline-block;

}

header{
  height: 100%;
  border: 2px solid blue;
}

nav{
  height: 100%;
  border: 2px solid green;
}

a{
  float: right;
  display: block;
  margin: 0px 5px;
  padding: 0px 0px;
  height: 100%;

}
article{
  width: 100%;
  height: 100%;
  border: 2px solid white;
}

footer{
  width: 100%;
  border: 2px solid green;
  margin-bottom: 0 auto;
  display: flex;
  flex-direction: row;
}

#Contenido{
  width: 100%;
  position: relative;
  margin-left: 2vh;

}

#contacto {
  width: 25%;
  border: 2px solid purple;
}

#terminos{
  width: 25%;
  border: 2px solid yellow;
}

#redes{
  width: 25%;
  border: 2px solid brown;
}

#derechos{
  width: 25%;
  border: 2px solid blue;
}
